<section class="container">

  <header class="page-header">
   <%= @arts.name %>
  </header>

  <article class="art">

      <div class="img">
        <%= image_tag(@arts.image) %>
      </div>

     <div class="desc">
       <%= @arts.description %>
      </div>
   

  </article>

</section>