
<section class="container-show">

  <header class="page-header">
   <%= @arts.name %>
  </header>

  <article class="art">

      <div class="img">
        <%= image_tag(@arts.image) %>
      </div>

     <div class="desc">
       <%= @arts.description %>
      </div>
<% if @arts.user_id === @art%>
      <div class="delete">
      <%=link_to 'Delete', art_path(@arts),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
              </div>
              <% end %>

            
  </article>
 
</section>