// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.signup_msg {

  display: flex;
  padding: 6px;
  border-radius: 3px;
  border: 1px solid rgb(238,211,215);
  background-color: rgb(240, 204, 204);
  color: rgb(185,74,72);
  margin-right: 79em;

}