<nav>

      <a class="navbar-home" href="/">Home</a>
      <a class="navbar-view" href="/art">View Art</a>
      <a class="navbar-new" href="/art/new">Create New</a>
      <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>