<nav>

      <a class="navbar" href="/">Home</a>
      <a class="navbar" href="/art">View Art</a>
      <a class="navbar" href="/art/new">Create New</a>
      <%= form_tag(search_url, method: :get) do %>
          <%= search_field_tag(:search, params[:search], required: true) %>
          <%= submit_tag ("Search") %>
      <% end %>

<a class="navbar-login" href="/login">Login</a>
<a class="navbar-user" href="/logout">Logout</a>
<a class="navbar-user" href="/signup">Signup</a>

<% if current_user %>
You are Logged In as <%= current_user.username %>
<%end%>
   
</nav>