<nav>

      <a class="navbar-home" href="/">Home</a>
      <a class="navbar-view" href="/art">View Art</a>
      <a class="navbar-new" href="/art/new">Create New</a>
      <%= form_tag(art_index_url, method: :get) do %>
          <%= search_field_tag(:search, params[:search], required: true) %>
          <%= submit_tag ("Search") %>
      <% end %>

      <% if logged_in? %>
    You are Logged In as <%= current_user.username %>
<%end%>
   
</nav>